# Exécutables
bin/

# Fichiers de compilation
build/
*.o

# Documentation générée
docs/html/

# Données et graphiques générés
data/*.dat
data/*.gp
data/*.png

# Fichiers temporaires
src/external/mt19937ar-cok/exe
*~
.DS_Store
test_structure.sh
